@media (min-width: 600px) and (max-width: 1036px) {
    
    .content {
        width: 100vw;
        display: grid;
        grid-template-columns: 1fr 240px;
        grid-template-rows:  20px 60px auto 60px;
        grid-gap: 0;
        grid-template-areas:
            "l l"
            "h s"
            "m s"
            "f s";
    }
    
}


@media (max-width: 600px) {
    .content {
        height: 100%;
        grid-template-columns: 1fr;
        grid-template-rows:  20px 60px auto 60px;
        grid-gap: 0;
        grid-template-areas:
            "l"
            "h"
            "m"
            "f";
    }
    
    .text-box {
        display: none;
    }
    
    .form-section {
        grid-area: m;
        z-index: 0;
    }
    
    .login_form, .register_form {
        height: auto;
        margin: 10px auto;
        padding: 5px 30px;
    }

}