@media (min-width: 800px) and (max-width: 1150px) {
    
    .bg-blur {
         width: 25%;
    }
    .form-section {
        width: 25%;
    }

    footer {
        width: 75%;
    }
    
    .text-box {
        align-items: flex-start;
        padding-left: 20%;
    }

    
}

@media (min-width: 600px) and (max-width: 800px) {
    
  .line {
        height: 30px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    
    .navbar {
        padding-left: 0;

    }
    
    .mobile-nav {
        display: block;
    }
    
    .main-nav {
        display: none;
    }

    .text-box {
        display: none;
    }
    
    .bg-blur {
        display: none;
    }
    
    .form-section {
        z-index: 0;
        margin-top: 30px;
        position: static;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        width: 60%;
    }
    
    .login_form, .register_form {
        height: auto;
        margin: 10px auto;
        padding: 10px 30px;
        width: 80%;
    }
    
    h3 {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    input {
        margin-top: 6px;
        margin-bottom: 6px;
        padding: 10px;
        border-radius: 40px;
        border: none;
    }
    
    footer {
        width: 100%;
        position: static;
    }

}
@media (max-width: 600px) {
    
    .line {
        height: 30px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    
    .navbar {
        padding-left: 0;

    }
    
    .mobile-nav {
        display: block;
    }
    
    .main-nav {
        display: none;
    }

    .text-box {
        display: none;
    }
    
    .bg-blur {
        display: none;
    }
    
    .form-section {
        z-index: 0;
        margin-top: 30px;
        position: static;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        width: auto;
        
    }
    
    .login_form, .register_form {
        height: auto;
        margin: 10px auto;
        padding: 10px 30px;
    }
    
    h3 {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    footer {
        width: 100%;
        position: static;
    }
    
    #contact_btn {
        width: 80px;
    }

}